{% extends 'trivia/basetrivia.html' %}


{% block title %}
	Email Confirmation | FutureTrivia
{% endblock %}


{% block content %}

{% if not error %}

<script type="text/javascript">
	
	$(document).ready(function(){
		document.getElementById("confirm_email_info_box").remove();
	});

</script>

	<div class="container-fluid mt-5">
		{% if email_resend %}
		<div class="container-fluid" id="error-wrap">
			<p class="font-weight-bold text-success no-select" style="font-size: 25px;">&#10004; Email Sent</p>
			<p class="font-weight-bold text-secondary no-select" style="max-width: 700px;">Please check your inbox for a confirmation email. Click the link in the email to confirm your <span class="text-dark">{{ request.user.email }}</span>. <a href="{% url 'usersettings' %}?tab=account" style="text-decoration: none;">Change email address</a></p>
		</div>

		{% elif email_confirmed %}

		<div class="container-fluid" id="error-wrap">
			<p class="font-weight-bold text-success no-select" style="font-size: 25px;">&#10004; Email Confirmed</p>
			<p class="font-weight-bold text-secondary no-select" style="max-width: 700px;">You are redirecting to trivia home. <a href="{% url 'triviahome' %}" style="text-decoration: none;">click here </a>to see all trivias</p>
		</div>


		{% endif %}

	</div>

{% else %}

	{% if already %}

		<div class="container-fluid mt-5">
			<div class="container-fluid" id="error-wrap">
				<p class="font-weight-bold text-success no-select" style="font-size: 25px;">&#10004; Email already Confirmed</p>
				<p class="font-weight-bold text-secondary no-select" style="max-width: 700px;">{{ error }}</p>
			</div>
		</div>


	{% else %}

	<div class="container-fluid mt-5">
		
		<div class="container-fluid" id="error-wrap">
			<p class="font-weight-bold text-dark" style="font-size: 40px;"><span class="icon-sad text-danger font-weight-bold"></span> That's an error!</p>
			<p class="font-weight-bold text-secondary">{{ error }}. Go to <a href="{% url 'triviahome' %}" id="">Trivia Home</a></p>
		</div>

	</div>

	{% endif %}
{% endif %}

{% endblock %}