{% extends 'users/baseauth.html' %}

{% block title %}
	Login to Future Trivia
{% endblock %}

{% block navmenu %}
	<!--<a href="{% url 'usersignup' %}" class="btn btn-success btn-sm nav-menu-item" role="button">Signup</a>-->
{% endblock %}

{% block content %}


{% block headscripts %}


<script type="text/javascript">
	
	function login_user(loader){

		var username = document.getElementById("id_username").value;
		var password = document.getElementById("id_password").value;
		username = username.trim();
		
		if(username.length>0 && password.length>0){
			document.getElementById("form_error_container").style.display="none";
			var reg_btn = document.getElementById("reg_btn");
			reg_btn.disabled=true;
			reg_btn.innerHTML="Verifying...";
			loader.style.display="inline-block";
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function(){
				//console.log(this.status);
				if(this.readyState == 4 && this.status == 200){
					var resp = JSON.parse(this.responseText);
					if(resp.success == true || resp.loggedin == true){
						reg_btn.innerHTML="Logging you in...";
						window.location.reload();
					} else {
						var s="";
						for (var i=0;i<resp.errors.length;i++) {
							s+=resp.errors[i];
							s+="<br>";
						}
						document.getElementById("form_error").innerHTML=s;
						document.getElementById("form_error_container").style.display="block";
						reg_btn.disabled=false;
						reg_btn.innerHTML="Login";
						loader.style.display="none";

					}
				} else if(this.readyState == 4 && this.status == 403){
					window.location.reload();
				}
			}
			var token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
			username=encodeURIComponent(username);
			password=encodeURIComponent(password);
			var q = "username="+username+"&password="+password+"&csrfmiddlewaretoken="+token;
			xhttp.open("POST", "{% url 'userlogin' %}", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send(q);


		} else {
			//alert(":ghsg");
			document.getElementById("form_error").innerHTML="Please fill all fields";
			document.getElementById("form_error_container").style.display="block";
		}
	}

</script>


{% endblock %}


<style type="text/css">
	

</style>


<div class="container-fluid p-4 form-container" style="">
	<div class="container-fluid p-2" style="max-width: 360px;">
		<div class="container">
			<div class="text-success">
				<h6>Login to <a href="{% url 'index' %}" style="text-decoration: none;" class="text-success">FutureTrivia</a></h6>
			</div>
		</div>

		<!--<a href="">Login with Facebook</a>

		<p><strong>-- OR --</strong></p>-->

		<form onsubmit="return false;">

			<div class="container-fluid m-0 p-0 form_error_container" style="text-align: left;" id="form_error_container">
				<div class="alert alert-danger form_error"  id="form_error">
					hello
				</div>
			</div>
		{% csrf_token %}
		<div class="input-group mt-1 form-list" style="">
			<div class="container p-1" style="">
				<input type="text" class="mt-2 floating-input-box text-dark" placeholder="" id="id_username" required>
				<label class="floating-input-label" for="id_username">User Handle</label>
			</div>
		</div>

		<div class="input-group mt-1 form-list" style="">
			<div class="container p-1" style="">
				<input type="password" class="mt-2 floating-input-box text-dark" placeholder="" id="id_password" required>
				<label class="floating-input-label" for="id_password">Password</label>
			</div>
		</div>

		<div class="input-group mt-1" style="">
			<div class="container p-1" style="">
				<button onclick="alert('send us an email at futuretrivia@gmail.com')" class="float-right text-primary">Need Help</button>
			</div>
		</div>

		<div class="input-group mt-1" style="">
			<div class="container p-1" style="">
				<button class="btn btn-outline-success px-5" onclick="login_user(this.nextSibling)" id="reg_btn">Login</button><span class="loader ml-2" id="loginloader"></span>
			</div>
		</div>

		</form>

		<hr>

		<div class="container mt-2">
			<span><a href="{% url 'usersignup' %}?next={{ next }}">Create new account</a></span>
		</div>
	</div>
</div>

{% endblock %}
