{% extends 'users/baseauth.html' %}

{% block title %}
	Login to Future Trivia
{% endblock %}

{% block navmenu %}
	<!--<a href="{% url 'usersignup' %}" class="btn btn-success btn-sm nav-menu-item" role="button">Signup</a>-->
{% endblock %}

{% block content %}


{% block headscripts %}


<script type="text/javascript">
	
	function login_user(loader){

		var username = document.getElementById("id_username").value;
		var password = document.getElementById("id_password").value;
		username = username.trim();
		
		if(username.length>0 && password.length>0){
			document.getElementById("form_error_container").style.display="none";
			var reg_btn = document.getElementById("reg_btn");
			document.getElementById("fb-login-btn").disabled=true;
			reg_btn.disabled=true;
			reg_btn.innerHTML="Verifying...";
			loader.style.display="inline-block";
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function(){
				//console.log(this.status);
				if(this.readyState == 4 && this.status == 200){
					var resp = JSON.parse(this.responseText);
					if(resp.success == true || resp.loggedin == true){
						reg_btn.innerHTML="Logging you in...";
						window.location.reload();
					} else {
						var s="";
						for (var i=0;i<resp.errors.length;i++) {
							s+=resp.errors[i];
							s+="<br>";
						}
						document.getElementById("form_error").innerHTML=s;
						document.getElementById("form_error_container").style.display="block";
						reg_btn.disabled=false;
						reg_btn.innerHTML="Login";
						loader.style.display="none";
						document.getElementById("fb-login-btn").disabled=false;

					}
				} else if(this.readyState == 4 && this.status == 403){
					window.location.reload();
				}
			}
			var token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
			username=encodeURIComponent(username);
			password=encodeURIComponent(password);
			var q = "username="+username+"&password="+password+"&csrfmiddlewaretoken="+token;
			xhttp.open("POST", "{% url 'userlogin' %}", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send(q);


		} else {
			//alert(":ghsg");
			document.getElementById("form_error").innerHTML="Please fill all fields";
			document.getElementById("form_error_container").style.display="block";
		}
	}

</script>


{% endblock %}


<div style="position: fixed; top: 0; left: 0; background-color: #fff; width: 100%; height: 100%; z-index: 1000;display: none;">

<script type="text/javascript">
	window.fbAsyncInit = function() {
    FB.init({
        appId            : '312299856007804',
        autoLogAppEvents : true,
        cookie           : true,
        xfbml            : true,
        version          : 'v3.2'
    });
    
};

  (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

/*
function checkStatus(){
    FB.getLoginStatus(function(response) {
        var roo = document.getElementById("root");
        document.getElementById("btn-control").style.display="block";
        roo.innerHTML = "";
        if (response.status === 'connected') {
            var s="Logged in<br>";
            FB.api('/me', {locale: 'en_US', fields:'name, email'}, function(user){
                s+="your name is <b>"+user.name+"</b> <br> your email is <b>"+user.email+"</b><br>";
                //console.log(user);
                roo.innerHTML=s;
            });

            roo.innerHTML=s;
            document.getElementById("login-btn").style.display = "none";
            document.getElementById("logout-btn").style.display = "inline-block";
        
        } else {
            roo.innerHTML="You are not logged in<br>"
            document.getElementById("login-btn").style.display = "inline-block";
            document.getElementById("logout-btn").style.display = "none";          
        }
    });

}*/



function fblogout(){

    FB.logout(function(response){

    });

}

function fblogin(){

	var fb_btn = document.getElementById("fb-login-btn");
	fb_btn.disabled=true;
	fb_btn.innerHTML="Verifying User";
	document.getElementById("baseauthform").style.display="none";
	var b_btn = document.getElementById("baseauthbtn");
	b_btn.disabled=true;
	b_btn.style.display="inline-block";


	FB.login((resp)=>{
		console.log(resp);
		if(resp.status=="connected"){
			do_request(resp);

		} else {
			fb_btn = document.getElementById("fb-login-btn");
			fb_btn.disabled=false;
			fb_btn.innerHTML="Login with Facebook"
			b_btn.disabled=false;
			show_top_popup("something went wrong", true, 5000);
		}
	}, {scope: 'public_profile,email'}, true);

}

function do_request(user){

	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function(){
		//console.log(this.status);
		if(this.readyState == 4 && this.status == 200){
			var resp = JSON.parse(this.responseText);
			console.log(resp);
			if(resp.success == true){
				var fb_btn = document.getElementById("fb-login-btn");
				fb_btn.innerHTML="Logging you in";
				window.location.reload();
			} else {
				var fb_btn = document.getElementById("fb-login-btn");
				fb_btn.disabled=false;
				fb_btn.innerHTML="Login with Facebook";
				show_top_popup(resp.error, true, 4500);
			}
		} else if(this.readyState == 4 && this.status == 403){
			window.location.reload();
		}
	}


	user = encodeURIComponent(JSON.stringify(user));
	//console.log(user);
	
	var token = document.getElementsByName("csrfmiddlewaretoken")[0].value;

	var q = "csrfmiddlewaretoken="+token+"&user="+user;
	xhttp.open("POST", "{% url 'fblogin' %}", true);
	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
	xhttp.send(q);
}

</script>


<center>




</center>
</div>

<div class="container-fluid p-4 form-container" style="">
	<div class="container-fluid p-2" style="max-width: 360px;">
		<div class="container">
			<div class="text-success pb-2">
				<h6>Login to <a href="{% url 'index' %}" style="text-decoration: none;" class="text-success">FutureTrivia</a></h6>
			</div>
		</div>

		<div id="btn-control" style="">
			<button class="btn btn-sm btn-primary btn-block" onclick="fblogin()" id="fb-login-btn">Login with facebook</button><br>
			<button class="btn btn-sm auth-btn btn-block" style="background-color: transparent;" onclick="document.getElementById('baseauthform').style.display='block'; this.style.display='none';" id="baseauthbtn">Login with username</button>
		</div>

		

		<form onsubmit="return false;" style="display: none;" id="baseauthform">

			<div class="container-fluid m-0 p-0 form_error_container" style="text-align: left;" id="form_error_container">
				<div class="alert alert-danger form_error"  id="form_error">
					hello
				</div>
			</div>
		{% csrf_token %}
		<div class="input-group mt-1 form-list" style="">
			<div class="container p-1" style="">
				<input type="text" class="mt-2 floating-input-box text-dark" placeholder="" id="id_username" required>
				<label class="floating-input-label" for="id_username">Username or Email</label>
			</div>
		</div>

		<div class="input-group mt-1 form-list" style="">
			<div class="container p-1" style="">
				<input type="password" class="mt-2 floating-input-box text-dark" placeholder="" id="id_password" required>
				<label class="floating-input-label" for="id_password">Password</label>
			</div>
		</div>

		<div class="input-group mt-1" style="">
			<div class="container p-1" style="">
				<a href="{% url 'resetpassword' %}" class=" btn btn-sm float-right text-primary">Reset Password</a>
			</div>
		</div>

		<div class="input-group mt-1" style="">
			<div class="container p-1" style="">
				<button class="btn btn-sm auth-btn px-5 text-success" onclick="login_user(this.nextSibling)" id="reg_btn">&#10004; Login</button><span class="loader ml-2" id="loginloader"></span>
			</div>
		</div>

		</form>

		<hr>

		<div class="container mt-2">
			<span><a href="{% url 'usersignup' %}?next={{ next }}">Create new account</a></span>
		</div>
	</div>
</div>

{% endblock %}
