{% extends 'users/baseauth.html' %}

{% block title %}
	Sign up for Future Trivia
{% endblock %}

{% block navmenu %}
	<!--<a href="{% url 'userlogin' %}" class="btn btn-success btn-sm nav-menu-item" role="button">Login</a>-->
{% endblock %}

{% block headscripts %}


<script type="text/javascript">
	
	function signup_user(){

		var username = document.getElementById("id_username").value;
		var email = document.getElementById("id_email").value;
		var password = document.getElementById("id_password").value;
		username = username.trim();
		email = email.trim();
		//alert("reg");
		if(username.length>0 && email.length>0 && password.length>0){
			document.getElementById("form_error_container").style.display="none";
			var reg_btn = document.getElementById("reg_btn");
			reg_btn.disabled=true;
			reg_btn.innerHTML="Creating Account";
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					var resp = JSON.parse(this.responseText);
					if(resp.success == true){
						window.location.reload();
					} else {
						var s="";
						for (var i=0;i<resp.errors.length;i++) {
							s+=resp.errors[i];
							s+="<br>";
						}
						document.getElementById("form_error").innerHTML=s;
						document.getElementById("form_error_container").style.display="block";
						reg_btn.disabled=false;
						reg_btn.innerHTML="Sign up";

					}
				}
			}
			var token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
			username=encodeURIComponent(username);
			email=encodeURIComponent(email);
			password=encodeURIComponent(password);
			var q = "username="+username+"&email="+email+"&password="+password+"&csrfmiddlewaretoken="+token;
			xhttp.open("POST", "{% url 'usersignup' %}", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send(q);


		} else {
			//alert(":ghsg");
			document.getElementById("form_error").innerHTML="Please fill all fields";
			document.getElementById("form_error_container").style.display="block";
		}
	}

	$(document).ready(function(){
	    $('[data-trigger="focus"]').tooltip({trigger: "focus"}); 
	});

</script>


{% endblock %}

{% block content %}



<div class="container-fluid p-4 form-container" style="">
	<div class="container-fluid p-2" style="max-width: 360px;">
		<div class="container">
			<div class="text-dark">
				<h4>Sign up for Future Trivia</h4>
			</div>
		</div>
		<form onsubmit="return false">
			<div class="container-fluid m-0 p-0 form_error_container" style="text-align: left;" id="form_error_container">
				<div class="alert alert-danger form_error"  id="form_error">
					hello
				</div>
			</div>
		{% csrf_token %}
		<div class="input-group mt-3 form-list" style="">
			<div class="container p-1" style="">
				<input type="text" class="mt-2 floating-input-box text-dark" placeholder="" id="id_username" data-toggle="tooltip" data-trigger="focus" title="user handle can only contain (a-z) and _ and atleast contains 6 characters" required>
				<label class="floating-input-label" for="id_username">User Handle</label>
			</div>
		</div>

		<div class="input-group mt-3 form-list" style="">
			<div class="container p-1" style="">
				<input type="text" class="mt-2 floating-input-box text-dark" placeholder="" id="id_email" required>
				<label class="floating-input-label" for="id_email">Email</label>
			</div>
		</div>



		<div class="input-group mt-3 form-list" style="">
			<div class="container p-1" style="">
				<input type="password" class="mt-2 floating-input-box text-dark" placeholder="" id="id_password" data-toggle="tooltip" data-trigger="focus" title="Password atleast contain 8 characters" required>
				<label class="floating-input-label" for="id_password">Password</label>
			</div>
		</div>



		<div class="input-group mt-3" style="">
			<div class="container p-1" style="">
				<button class="btn btn-outline-success px-5" onclick="signup_user()" id="reg_btn">Sign up</button>
			</div>
		</div>

		</form>
		<hr>

		<div class="container mt-2">
			<span>Already have an account <a href="{% url 'userlogin' %}">login</a></span>
		</div>
	</div>
</div>

{% endblock %}
