{% extends 'trivia/basetrivia.html' %}


{% block title %}
	Reset Password | FutureTrivia
{% endblock %}


{% block content %}

<div class="container mt-5">
	<div class="card" style="max-width: 400px;">
		<div class="card-header">
			<p class="p-0 m-0" style="font-weight: bold;">Reset Password</p>
		</div>
		<div class="card-body" id="reset-form-container">
			<div class="text-danger" id="form-errors"></div>
			<input type="text" id="reset-email" placeholder="Username or Email" class="form-control"><br>
			<button class="btn btn-sm auth-btn" onclick="sendNewPassword(this, this.nextSibling)" style="border: solid 1px rgba(110, 110, 110, 1)">Send New Password</button><span class="loader ml-2" id="" style=""></span>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	function sendNewPassword(btn, loader){
		var username = document.getElementById("reset-email").value;
		username = username.trim();
		
		if(username.length>0){
			document.getElementById("form-errors").style.display="none";
			btn.disabled=true;
			btn.innerHTML="Checking...";
			loader.style.display="inline-block";
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function(){
				
				if(this.readyState == 4 && this.status == 200){
					var resp = JSON.parse(this.responseText);
					if(resp.success){
						var elem = document.getElementById("reset-form-container");
						elem.innerHTML = resp.success_msg;
					} else {

						if(resp.already){
							show_top_popup("already logged in", false, 111);
							window.location.assign("/trivia/");
						}

						document.getElementById("form-errors").innerHTML=resp.error;
						document.getElementById("form-errors").style.display="block";
						btn.disabled=false;
						btn.innerHTML="Send New Password";
						loader.style.display="none";

					}
				} else if(this.readyState == 4){
					show_top_popup("Internal Server Error", true, 3000);
					btn.disabled=false;
					btn.innerHTML="Send New Password";
					loader.style.display="none";
				}
			}
			username=encodeURIComponent(username);
			var q = "username="+username+"&action=sendresetmail";
			xhttp.open("GET", "{% url 'resetpassword' %}?"+q, true);
			xhttp.setRequestHeader("X-Requested-With", "XMLHttpRequest");
			xhttp.send();


		} else {
			//alert(":ghsg");
			document.getElementById("form-errors").innerHTML="Please enter your username or email";
			document.getElementById("form-errors").style.display="block";
		}
	}

</script>


{% endblock %}