{% extends 'trivia/basetrivia.html' %}
{% load static %}


{% if request.user.is_authenticated %}

{% block content %}
		
<style type="text/css">
	label{
		font-size: 10px;
	}
	input{
		max-width: 300px;
		max-height: 26px;
		font-size: 13px !important;
	}
</style>


<script type="text/javascript">
	window.onload=function(){
		var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
		var stblk = document.getElementById("settingsnavigation");
		var xbtn = document.getElementById("settingsnavigationbtn");
		xbtn.style.display = "block";
		if(width > 800){
			stblk.classList.add("show");
			xbtn.style.display="none";
			xbtn.disabled = true;
		}
		
	};
</script>

<div class="container">
	<div class="row py-4">
		<div class="col-md-3 py-3 text-left">

			

			<button class="btn btn-success btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#settingsnavigation" id="settingsnavigationbtn" style="display: none;">Settings</button>
			<div class="m-0 p-0 collapse" id="settingsnavigation">
			<div class="container rounded py-2 text-light" id="settingsHead">
				<ul class="nav nav-tabs flex-column">
				    <li class="nav-item btn btn-sm">
				    	<a class="btn btn-sm btn-block text-success text-left {{ accountclass }}" href="{% url 'usersettings' %}?tab=account"><span class="icon-profile-male"></span> Account Settings</a>
				    </li>
				    <li class="nav-item btn btn btn-sm">
				    	<a class="btn btn-sm btn-block text-success text-left {{ securityclass }}" href="{% url 'usersettings' %}?tab=security"><span class="icon-shield"></span> Login &amp; Security</a>
				    </li>
			  	</ul>
				
			</div>
			</div>
		</div>

		<div class="col-md-9 py-3">
			<div class="container border rounded pt-3 text-left text-dark">
				{% if accounttab %}

					{% include 'users/accountsetting.html' %}

				{% elif securitytab %}
					
					{% include 'users/securitysetting.html' %}


				{% endif %}
			</div>
				
		</div>
	</div>
	
</div>

{% endblock %}

{% else %}
<script type="text/javascript">
	function(){
		window.location.assign("{% url 'userlogin' %}");	
	}
</script>



{% endif %}