
<div class="container-fluid p-0">
	<p class="font-weight-bold text-secondary px-0" style="font-size: 16px;">Social Accounts</p>
	<!--
	<div class="container-fluid px-0 py-2">
		<form onsubmit="return false">

			{% csrf_token %}

			<div class="form-group">
		    	
		    	<div class="alert alert-danger" id="form_error" style="display: none;">
		    		hkjgjh
		    	</div>

			</div>
			<div class="form-group">
		    	<label for="fname">First Name</label>
		    	<input type="text" class="form-control" id="fname" placeholder="First Name" required>
			</div>
			<div class="form-group">
				<label for="lname">Last Name</label>
				<input type="text" class="form-control" id="lname" placeholder="Last Name">
			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" id="email" placeholder="Email" required>
			</div>

			<div class="form-group">


				<button type="submit" class="btn btn-outline-success btn-sm px-4" id="save-btn" style="" onclick="saveSettings()">Save</button>
				<span class="loader ml-2" id="save-loader"></span>
			
			</div>
		</form>

		
	</div>
-->
</div>


<script type="text/javascript">
	/*
	function saveSettings(){

		var fname = document.getElementById("fname").value;
		var lname = document.getElementById("lname").value;
		fname = fname.trim();
		lname = lname.trim();

		var email = document.getElementById("email").value;
		email = email.trim();
		if(fname.length>0 && email.length>0){
			document.getElementById("form_error").style.display="none";
			var sloader = document.getElementById("save-loader");
			var sbtn = document.getElementById("save-btn")
			sbtn.disabled=true;
			
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function(){
				//console.log(this.status);
				if(this.readyState == 4 && this.status == 200){
					var resp = JSON.parse(this.responseText);
					if(resp.success == true){
						show_popup("Profile Updated");
						sloader.style.display = "none";
						sbtn.disabled = false;
						
					} else {
						var s="";
						for (var i=0;i<resp.errors.length;i++) {
							s+=resp.errors[i];
							s+="<br>";
						}
						var ele = document.getElementById("form_error");
						ele.innerHTML = s;
						ele.style.display="block";
						sbtn.disabled=false;
						
					}
				} else if(this.readyState == 4){
					var ele = document.getElementById("form_error");
					ele.innerHTML = "Internal Server Error";
					ele.style.display = "block";
				}
			}
			var token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
			fname=encodeURIComponent(fname);
			lname=encodeURIComponent(lname);
			email=encodeURIComponent(email);
			var q = "fname="+fname+"&lname="+lname+"&email="+email+"&csrfmiddlewaretoken="+token;
			xhttp.open("POST", "{% url 'accountsettings' %}", true);
			xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			xhttp.send(q);


		} else {
			//alert(":ghsg");
			var ele = document.getElementById("form_error");
			ele.innerHTML = "Fill required fields"
			ele.style.display = "block";
		}
	}*/

</script>