{% load static %}
{% spaceless %}
<!-- NAVIGATION BAR -->
<!-- Small Screen Navigation Overlay -->

<div id="small_screen_nav" class="overlay p-0 m-0 bg-dark">
	<a href="javascript:void(0)" class="closebtn text-light" onclick="closeNav()">&times;</a>
	<div class="overlay-content">
		<ul class="nav flex-column">
			{% if request.user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link dropdown-toggle text-light no-select" style="font-size: 15px; cursor: pointer;" role="button" data-toggle="collapse" data-target="#small_screen_dropdown"><img src="{% static 'trivia/images/userIcon.png' %}" class="rounded" width="30" height="22" alt=""> {% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %}</a>
				<div class="container collapse" id="small_screen_dropdown">
					<a class="nav-link text-light" href="{% url 'userprofile' username=request.user.username %}">View Profile</a>
					<a class="nav-link text-light" href="{% url 'hostedtrivia' %}">My Trivias</a>
					<a class="nav-link text-light" href="{% url 'usersettings' %}">Settings</a>
					<a class="nav-link text-danger" href="{% url 'userlogout' %}">Logout</a>
				</div>
			</li>
			{% else %}
				<li class="nav-item active">
					<div class="btn-group">
						<a class="btn btn-info btn-sm text-light" href="{% url 'userlogin' %}">Login</a>
						<a class="btn btn-success btn-sm text-light" href="{% url 'usersignup' %}">Sign Up</a>
					</div>
				</li>
			{% endif %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'triviahome' %}">Trivias</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'practicehome' %}">Practice</a>
			</li>
		</ul>
	</div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top py-0" style="" id="navbartop">
	<a class="navbar-brand brand-name" href="{% url 'index' %}">Future Trivia</a>
	<button class="btn btn-sm back-btn" onclick="return_to_prev_page()" title="return to last page">&#10132;</button>

	<script type="text/javascript">



		var getLocation = function(href) {
		    var l = document.createElement("a");
		    l.href = href;
		    return l;
		};
		
		function return_to_prev_page(){
			var url = document.referrer;
			if(url.length==0){
				window.location.assign("/");
			} else {
				window.history.back();
			}
		}	

	</script>

	<style type="text/css">

		.brand-name{

		}

		.nav-toggle-btn{
			display: none;
		}

		.back-btn{
			display: none;
			background-color: rgba(0,0,0,0);
			color: #fff;
			transform: rotate(180deg);
		}

		.overlay {
		    position: fixed;
		    height: 100%;
		    width: 0%;
		    z-index: +1000;
		    top: 0;
		    right: 0;
		    margin: 0;
		    overflow-x: hidden;
		    transition: .4s;
		    overflow-y: auto;
		}


		.overlay-content {
		    position: relative;
		    padding-left: 5%; 
		    width: 100%;
		    text-align: left;
		    margin-top: 80px;
		}

		.overlay-content a {
		    padding: 8px;
		    margin-left: 4px;
		    text-decoration: none;
		    font-size: 17px;
		    font-weight: normal;
		    color: var(--main-silver-white);
		    display: block;
		    transition: 0.3s;
		}

		.overlay a:hover, .overlay a:focus {
		    font-style: oblique;
		}

		#small_screen_dropdown a{
			font-size: 13px;
		}

		.overlay .closebtn {
		    position: absolute;
		    text-decoration: none;
		    top: 0px;
		    right: 15px;
		    font-size: 40px;
		}

		.brand-name{
			font-size: 20px;
			font-weight: bold;
			font-family: "Aclonica";
			letter-spacing: 0px;
			border: solid 0px red;
			color: var(--main-silver-white) !important;
		}



	@media screen and (max-width: 1000px){
	    #small_screen_nav{

	    	display: block !important;
	    }

	    .nav-toggle-btn{
			display: inline-block !important;
		}

	    .brand-name{
	    	display: inline-block;
	    }

	    .back-btn{
			display: none;
		}

	}

		.menu-icon{
			cursor: pointer;
		}

		.menu-icon div {
			width: 25px;
			height: 3px;
			background-color: rgb(255, 255, 255);
			margin: 6px 0;
			transition: 0.4s;
		}

		.change .bar1 {
			-webkit-transform: rotate(-45deg) translate(-6.4px, 6.4px);
			transform: rotate(-45deg) translate(-6.4px, 6.4px);
		}

		.change .bar2 {opacity: 0;}

		.change .bar3 {
			-webkit-transform: rotate(45deg) translate(-6.4px, -6.4px);
			transform: rotate(45deg) translate(-6.4px, -6.4px);
		}
	</style>

	<script type="text/javascript">
		function openNav() {

			var elem = document.getElementById("small_screen_nav");
			if(elem.style.width=="80%"){
				elem.style.width="0%";
			} else {
				elem.style.width="80%";
			}
		}

	</script>
	
	<button class="btn btn-dark nav-toggle-btn" type="button" data-toggle="" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="openNav();document.getElementById('menu-icon').classList.toggle('change');">
		<div class="menu-icon" id="menu-icon">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</div>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link text-light" href="{% url 'triviahome' %}">Trivias</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-light" href="{% url 'practicehome' %}">Practice</a>
			</li>
		</ul>
		<ul class="navbar-nav" style="position: relative; right: 17%">
		{% if request.user.is_authenticated %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-light no-select" style="font-size: 15px; cursor: pointer;" id="navbarMenuDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'trivia/images/userIcon.png' %}" class="rounded" width="30" height="22" alt=""> {% if request.user.first_name %}{{ request.user.first_name }}{% else %}{{ request.user.username }}{% endif %}</a>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarMenuDropdown" style="font-size: 13px !important">
					<a class="dropdown-item text-secondary" href="{% url 'userprofile' username=request.user.username %}">View Profile</a>
					<a class="dropdown-item text-secondary" href="{% url 'hostedtrivia' %}">My Trivias</a>
					<a class="dropdown-item text-secondary" href="{% url 'usersettings' %}">Settings</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item text-danger" href="{% url 'userlogout' %}">Logout</a>
				</div>
			</li>

		{% else %}
				<li class="nav-item active">
					<div class="btn-group">
						<a class="btn btn-info" href="{% url 'userlogin' %}">Login</a>
						<a class="btn btn-success" href="{% url 'usersignup' %}">Sign up</a>
					</div>
				</li>

		{% endif %}


		</ul>
	</div>
</nav>

{% endspaceless %}


   
