{% extends 'trivia/gamebase.html' %}

{% block title %}
	404 Not Found
{% endblock %}


{% block content %}
	<div class="container-fluid mt-5">
		
		<div class="container-fluid" id="error-wrap">
			<p class="font-weight-bold text-dark" style="font-size: 40px;"><span class="icon-sad text-danger font-weight-bold"></span> That's an error!</p>
			<p class="font-weight-bold text-secondary">The page you requested is not found! Go to <a href="{% url 'triviahome' %}">Homepage</a>?</p>
		</div>

	</div>

{% endblock %}