{% extends 'trivia/basetrivia.html' %}
{% load static %}
{% load tz %}


{% block title %}
	
	{{ trivia.name }}

{% endblock %}


{% block content %}

{% spaceless %}


{% if exist %}

{% if not private or authentic %}
<style type="text/css">

	#triviaPoster{
		position: absolute;
		width: 100% !important;
		height: 35vh;
		min-height: 180px;
		background-image: url({% if trivia.poster %}{{ trivia.poster }}{% else %}{% static 'trivia/images/defaultTrivia.png' %}{% endif %});
		background-repeat: no-repeat;
		background-size: 100% 100%; 
	}

	#triviaPosterContainer{
		width: 100% !important;
		height: 35vh;
		left: 0;
		top: 0;
		justify-content: center;
		overflow: visible; 
		/*background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center;*/ 
	}

	.loader {
		position: absolute;
		border: 5px solid rgba(180, 180, 180, 1);
		border-radius: 50%;
		border-top: 5px solid rgba(140, 140, 140, 1);
		width: 40px;
		height: 40px;
		margin: 0 auto;
		left: 50%;
		overflow: hidden;
		align-items: center;
		justify-content: space-around;
		display: flex;
		float: none;
		z-index: 0;
		-webkit-animation: spin 1.4s linear infinite; /* Safari */
		animation: spin 1.4s linear infinite;
		}

		/* Safari */
		@-webkit-keyframes spin {
			0% { -webkit-transform: rotate(0deg); }
		 	100% { -webkit-transform: rotate(360deg); }
		}

		@keyframes spin {
			0% { transform: rotate(0deg); }
			100% { transform: rotate(360deg); }
		}

	#timingDetails{
		position: relative;
		bottom: 0;
		min-width: 250px;
	}
	
	@media screen and (max-width: 768px){
		#timingDetails{
			position: relative;
			border: 0px;

		}
	}

	#adminIcon{
		position: absolute;
		top: -40px;
		height: 70px;
		width: 70px;
		right: 0;
		max-width: 70px;
		max-height: 70px;
		background-image: url({% static 'trivia/images/userIcon.png' %});
		background-repeat: no-repeat;
		background-size: 100% 100%; 
	}
	
	@media screen and (max-width: 768px){
		#adminIcon{
			position: relative;

		}
	}



</style>

<!-- Trivia poster -->
<div class="" id="triviaPosterContainer">
<div class="loader"></div>
<div class="container-fluid m-0" style="" id="triviaPoster"></div>
</div>
<!--Details Head-->
<div class="container-fluid p-2 pt-4 bg-light">
	<div class="row">

		<!-- Admin Icon -->

		<div class="col-md-2 mx-auto text-center">
			<div class="card rounded" id="adminIcon"></div>
		</div>

		<!-- Contest main Detail -->

		<div class="col-md-6" style="text-align: left;">
			<p class="text-dark" style="font-size: 22px;">{{ trivia.name }}</p>
			<p class=" p-0 px-3"><span class="text-secondary" style="font-size: 12px;"><span class="{{ trivia.get_rating.color }} font-weight-bold">{{ trivia.get_rating.rating }}{% if trivia.get_rating.yes %} &#9733;{% endif %}</span> - {{ trivia.get_rating.total }} reviews</span></p>
			<div class="container-fluid my-1" style="font-size: 11px;">
				 <ul class="nav">
				 	{% if private %}
					<li class="nav-item pr-3">
						
						<span class="text-dark icon-lock"></span> &nbsp;<span class="text-secondary">Private</span>
					
					</li>
					{% endif %}
					
					<li class="nav-item pr-3">
						<span class="text-dark icon-book-open"></span> &nbsp;<span class="text-secondary" title="">{{ trivia.category }}</span>
					</li>

					{% if trivia.individual_timing %}
					<li class="nav-item pr-3">
						<span class="text-dark icon-hourglass"></span> &nbsp;<span class="text-secondary" title="">Individual Timing</span>
					</li>
					{% endif %}

				</ul>
				{% if trivia in request.user.userdetails.trivias.all %}
					{% if ended %}
						<p><span class="text-dark icon-lightbulb"></span> <span> You were participated in this contest</span></p>
					{% else %}
						<p><span class="text-dark icon-lightbulb"></span> <span> You are registered for this event</span></p>
				
					{% endif %}

				{% endif %}

				{% if not can_start and not ended %}
					<script type="text/javascript">
						$(document).ready(function(){
							before_start = $("#before_start").data("timeleft");
							setInterval(calc_beforestart, 1000);
							before_start_elem=document.getElementById("before_start");
						});

						function calc_beforestart(){
							before_start-=1;
							if(before_start<=1){

								window.location.reload();
							} else {

								s=" ";
								var days = Math.floor(before_start/86400);
								var rem = before_start%86400;
								var hours = Math.floor(rem/3600);
								rem = rem%3600;
								var mins = Math.floor(rem/60);
								var sec = rem%60;

								if(days>0){
									s+=(days + " days ");

								}

								if(hours>0){
									s+=(hours + " hours ");

								}

								if(mins>0){
									s+=(mins + " minutes ");

								}

								s+=(sec+" seconds");
								before_start_elem.innerHTML = s;
								//console.log(s);


							}

						}


					</script>

					<span class="text-primary"><b>Before Start: </b> <span id="before_start" data-timeleft="{{ before_start }}"></span></span>

				{% elif not ended %}

					<span class="text-success font-weight-bold">War is on</span>

				{% elif trivia.is_ended and trivia.is_fully_ended %}

					<span class="text-danger font-weight-bold">Registration ended</span>

				{% else %}
					
					<span class="text-danger font-weight-bold">ended</span>

				{% endif %}
			</div>

			<hr>



		</div>

		<!-- Timing Details Container -->

		<div class="col-md-4">
			<div class="card rounded-0 text-left" id="timingDetails" style="">
				
			{% if not trivia.is_ended %}

				<div class="row p-2">
					<div class="col-md-5">
						<span class="text-secondary" style="font-size: 15px;">Portal opening: </span>
					</div>

					<div class="col-md-7">
						<b><span class="text-dark" style="font-size: 11px;">{% timezone 'Asia/Kolkata' %}{{ trivia.start_time }} IST {% endtimezone %}</span></b>
					</div>
				</div>

				<div class="row p-2">
					<div class="col-md-5">
						<span class="text-secondary" style="font-size: 15px;">Portal closing: </span>
					</div>

					<div class="col-md-7">
						<b><span class="text-dark" style="font-size: 11px;">{% timezone 'Asia/Kolkata' %}{{ trivia.get_endtime }} IST {% endtimezone %}</span></b>
					</div>
				</div>


				<div class="row p-2">
					<div class="col-md-5">
						<span class="text-secondary" style="font-size: 15px;">Duration</span>
					</div>

					<div class="col-md-7">
						<b><span class="text-dark" style="font-size: 11px;">{{ trivia.get_duration_string }}</span></b>
					</div>
				</div>

			{% endif %}

			<div class="row p-2">
				<div class="col-md">
					
					<a class="btn btn-sm text-info font-weight-bold" href="{% url 'trivialeaderboard' code=trivia.code %}" style="background-color: rgba(0,0,0,0);">&#9839; Leaderbord</a><br>
				</div>
			</div>

				

			{% if trivia.is_fully_ended %}

				<div class="row p-2">
					<div class="col-md">
						<button class="btn btn-sm text-secondary font-weight-bold" style="background-color: rgba(0,0,0,0);"><span class="icon-clock"></span> {{ trivia.get_duration_string }}</button><br>
						<a class="btn btn-sm text-info font-weight-bold" href="{%  url 'practiceplay' %}?code={{ trivia.code }}" style="background-color: rgba(0,0,0,0);">&#10160; Practice</a><br>
						<a class="btn btn-sm text-success font-weight-bold" style="background-color: rgba(0,0,0,0);" href="{% url 'afteranswer' code=trivia.code %}">&#10004;See Solutions</a>
					</div>
				</div>


			{% endif %}
				<div class="row p-2">
					<div class="col-md">
						{% if ended %}
							
						{% elif request.user == trivia.admin %}

							<span class="text-secondary">You are admin of {{ trivia.code }}</span>

						{% else %}
							

							{% if trivia in request.user.userdetails.trivias.all %}
								{% if can_start %}
								<a class="btn btn-sm text-success font-weight-bold" style="background-color: rgba(0,0,0,0);" {% if not can_start %}disabled{% endif %} href="{% url 'triviaplay' code=trivia.code %}">&#10150; Click to Enter</a>
								{% else %}
									<button class="btn btn-sm text-success" style="background-color: rgba(0,0,0,0);" disabled>&check; Registered</button>
								{% endif %}

							{% else %}
								{% if request.user.is_authenticated %}
									{% if can_register %}
										<button class="btn btn-sm text-success font-weight-bold" style="background-color: rgba(0,0,0,0);" onclick="register_contest_and_enter(this,'{{ trivia.code }}', '{{ can_start }}')">Click to Register</button>
									{% else %}
										<button class="btn btn-sm text-success font-weight-bold" style="background-color: rgba(0,0,0,0);" disabled>Registration Ended</button>	

									{% endif %}
								

								{% else %}

									<span><a href="{% url 'userlogin' %}">Login</a> to register</span>

								{% endif %}
							{% endif %}
						
						
						{% endif %}
					</div>

				</div>
					 
				

			</div>
		</div>

		<!-- Timing Details container Ends -->


	</div>
</div>

	
</div>

<!-- ANNOUNCEMENTS ABOUT CONTEST -->

<div class="container text-left my-5 py-4" style="font-size: 16px">
	<div class="row">
		<div class="col-md-3 font-weight-bold">
			ANNOUNCEMENTS
		</div>

		<div class="col-md-9 text-dark py-2">
			{{ trivia.announcements }}
		</div>
	</div>


</div>



<!-- ABOUT CONTEST -->

<div class="container text-left my-5 py-4" style="font-size: 16px">
	<div class="row">
		<div class="col-md-3 font-weight-bold">
			ABOUT CONTEST
		</div>

		<div class="col-md-9 text-dark py-2">
			{{ trivia.about }}
		</div>
	</div>


</div>



<!-- PRIZES CONTEST -->

<div class="container text-left my-5 py-4" style="font-size: 16px">
	<div class="row">
		<div class="col-md-3 font-weight-bold">
			PRIZES
		</div>

		<div class="col-md-9 text-dark py-2">
			{{ trivia.prizes }}
		</div>
	</div>


</div>

{% elif private %}





<div class="container-fluid p-4 form-container mt-3" style="">
	<div class="container-fluid p-2" style="max-width: 360px;">
		<div class="container">
			<div class="text-dark">
				<h4>Private Contest</h4>
			</div>
		</div>
		<form method="post" action="">
			{% if auth_error %}
			<div class="container-fluid m-0 p-0 form_error_container" style="text-align: left; display: block;" id="form_error_container">
				<div class="alert alert-danger form_error"  id="form_error" style="display: block;">
					{{ auth_error }}
				</div>
			</div>
			{% endif %}

		{% csrf_token %}

		<div class="input-group mt-1 form-list" style="">
			<div class="container p-1" style="">
				<input type="password" class="mt-2 text-dark" placeholder="Password" id="id_password" name="password" required>
			</div>
		</div>


		<div class="input-group mt-1" style="">
			<div class="container p-1" style="">
				<button class="btn btn-sm btn-outline-success px-5" onclick="" id="auth_btn">Enter</button>
			</div>
		</div>

		</form>

	</div>
</div>

{% endif %}

{% else %}
	Not Found
{% endif %}

{% endspaceless %}

{% endblock %}