{% extends 'trivia/gamebase.html' %}

{% block navbar %}

	{% if trivia.is_fully_ended or user_ended%}
		{% include 'trivia/full_navbar.html' %}
		{% include 'trivia/full_page_loader.html' %}
	{% else %}
		{% include 'trivia/play_navbar.html' %}
	{% endif %}

{% endblock %}


{% load static %}

{% block title %} Compete |  {{ trivia.name }}{% endblock %}

{% block headscripts %}


{% endblock %}


{% block content %}

{% spaceless %}

{%if request.user.is_authenticated %}

{% if not started_by_user and can_begin %}

<div class="container" id="instructions">
	<div class="row py-2">

		<div class="col">
			<div class="card">
				<div class="card-header text-left">

					<span class="font-weight-bold" style="font-size: 18px;">Instructions</span>
				</div>

				<div class="card-body text-left px-1">
					<ol>
						<li>
							There will be <b>{{ total_number_of_questions }}</b> Questions.
						</li>
						<li>For multiple choice questions, choose option accordingly.</li>
						<li>
							Each Question should be solved in restricted timing.
						</li>

						<li>
						{% if not trivia.can_change_answer %}
							You <b>cannot change answer</b> once submitted.

						{% else %}

							You can update your answer.
						{% endif %}
						</li>
						<li>Every question weightage can be different.</li>
					</ol>
				</div>
			</div>


		</div>
		
	</div>

</div>

</div>
<div>
<button class="btn btn-sm text-success font-weight-bold" onclick="startWar(this, this.nextSibling)" id="startwarbtn" data-triviacode="{{ trivia.code }}" style="background-color: rgba(0,0,0,0);">&#9876; Start War</button><span class="loader ml-2" id="startwarloader"></span>
</div>
<script type="text/javascript">
	
	function startWar(btn, loader){
		//var code = $("#startWarbtn").data("triviacode");
		var xhttp = new XMLHttpRequest();
		btn.disabled=true;
		loader.style.display="inline-block";
		xhttp.onreadystatechange = function(){
			if(this.readyState == 4 && this.status == 200){
				var resp = JSON.parse(this.responseText);
				if(resp.success){
					window.location.reload();
				} else {
					show_top_popup(resp.error, false, 1000);
					btn.disabled=false;
					loader.style.display="none";
				}
			} else if(this.readyState == 4) {
				show_popup("Internal Server Error");
				btn.disabled=false;
				loader.style.display="none";
			}

		};

		xhttp.open("GET", "{% url 'triviastart' code=trivia.code %}", true);
		xhttp.send();

	}

</script>


{% elif started_by_user %}


	{% if not user_ended %}

	
	
	<style type="text/css">
		
		#quesnav {
			
		    height: 100%;
		    width: 80%;
		    max-width: 320px;
		    position: fixed;
		    z-index: 10;
		    top: 0;
		    right: 0;
		    background-color: rgba(235, 235, 240, 1);
		    overflow-x: hidden;
		    overflow-y: auto;
		    transition: 0.5s;
		    padding-top: 42px;
		    border-left: solid 1px rgba(210,210,210,1);
		    
		}


		#main {
		    transition: margin-right .5s;
		    padding: 16px;
		    margin-right: 0;
		}

		.close-arrow{
			display: none;
			font-size:20px;
			cursor:pointer;
			position: relative;
			top: 0;
			left: 5px;
			font-weight: bold;
		}

		

		@media screen and (max-width: 986px){
			.close-arrow{
				display: inline-flex;
			}

			#quesnav{
				width: 0;
			}

			#playarea img{
				max-width: 100%;
			}

			.playarea{
				margin-right: 0;
			}
		}

		@media screen and (min-width: 986px){

			#quesnav{
				width: 80% !important;
			}

			.playarea{
				margin-right: 330px !important;

			}
		}



	</style>


	<style type="text/css">

		#options_container input[type="radio"]{
			position: absolute;
			height: 0;
			width: 0;
			opacity: 0;
			cursor: pointer;
		}



		.radio-btn{
			display: inline-block;
			position: relative;
			color: rgba(0, 0, 0, 0);
			width: 20px;
			height: 20px;
			border: solid 2px #18f97e;
			border-radius: 50%;
			opacity: 0.5;
			transition: 0.1s;
		}


		.option{
			position: relative;
			cursor: pointer;
			vertical-align: middle;
			word-wrap: break-word;
			transition: 0.3s;
		}

		.option:hover{
			
			background-color: rgba(24, 249, 126, 0.05);
		}

		.option:hover .radio-btn{
			border: solid 2px #18f97e;
			opacity: 1;	
		}




		#options_container input[type="radio"]:checked+.radio-btn{
			border: solid 2px #18f97e;
			background-image: radial-gradient(#18f97e 50%, white 50%); 
			opacity: 1;
		}


		.option-text{
			position: relative;
			vertical-align: middle;
			color: #4e4f56;
			font-size: 14px;
			word-wrap: break-word;
			max-width: 100%;
		}



	</style>


	<script>
		function openNav() {
			var change=screen.width * .9;
			if(change>350){

				change=350;
			}
			document.getElementById("quesnav").style.width = change+"px";
		    //document.getElementById("main").style.marginRight = change+"px";
		    //document.getElementById("navbartop").style.marginRight = change+"px";
		}

		function closeNav() {
		    document.getElementById("quesnav").style.width = "0";
		    //document.getElementById("main").style.marginRight= "0";
		    //document.getElementById("navbartop").style.marginRight = "0";
		}

		function select_option(elem){
			elem.click();
			var ques = question_objects_array[curr_ques];
			//console.log(ques.extra.can_change_answer);
			if(ques.status.opt_id==0){
				qsubmitbtn.disabled=false;
			} else if(ques.extra.can_change_answer){
				qsubmitbtn.disabled=false;
			}
			ques.extra.temp_opt_id=elem.value;

		}
	</script>




	<script type="text/javascript">

		window.onload=function(){

			main = document.getElementById("main");
			playarea = document.getElementById("playarea");
			ques_list = document.getElementById("ques_list");
			q_statement = document.getElementById("q_statement");
			options_container = document.getElementById("options_container");
			qsubmitbtn = document.getElementById("qsubmitbtn");
			success_msg = document.getElementById("success_msg");
			contest_time_block = document.getElementById("contest_time_left");
			contest_time_left = 0;
			qsubmitbtn.disabled=true;
			question_objects_array="";
			curr_ques=0;
			timer=setInterval(function(){
				
			},100000000000);
			contest_loader_interval=setInterval(loadContest, 100000);
			total_questions=0;
			loadContest();

		};

		function get_questions(code){
			var xhttp = new XMLHttpRequest();

			xhttp.onreadystatechange = function(){
				if(this.readyState == 4 && this.status == 200){
					var resp = JSON.parse(this.responseText);
					if(resp.success){
						question_objects_array=resp.questions;
						contest_time_left=resp.time_left;
						total_questions=question_objects_array.length;
						create_navigation();
						clearInterval(timer);
						timer = setInterval(set_timer, 1000);
						show_ques(curr_ques);
					} else {
						show_top_popup(resp.error, true, 4000);
					}
				} else if(this.readyState == 4) {
					show_popup("Internal Server Error");
				}

			};
			//xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
			

			xhttp.open("GET", "{% url 'alltriviaquestions' code=trivia.code %}", true);
			xhttp.send();

		}


		function loadContest(){
			get_questions();
			
			//set_timer();

		}

		function set_timer(){
			
			var s="";
			contest_time_left-=1;
			if(contest_time_left<0){
				show_popup("Contest Ended");
				document.getElementById("confirm-overlay").style.display = "block";
				clearInterval(timer);
				end_test();
			}else{

				s=" ";
				var days = Math.floor(contest_time_left/86400);
				var rem = contest_time_left%86400;
				var hours = Math.floor(rem/3600);
				rem = rem%3600;
				var mins = Math.floor(rem/60);
				var sec = rem%60;

				if(days>0){
					s+=(days + "d : ");

				}

				if(hours>0){
					s+=(hours + "h : ");

				}

				if(mins>0){
					s+=(mins + "m : ");

				}

				s+=(sec+"s");
				contest_time_block.innerHTML = s;
			}


		}

		//<span class="float-right text-success" style="font-size: 21px;">&check;</span>

		//funtion to create navigation to all questions
		function create_navigation(){
			ques_list.innerHTML="";

			for(var i=0;i<total_questions;i++){

				var card = document.createElement("div");
				card.setAttribute("class", "card my-3 border-success p-0");
				var card_header = document.createElement("div");
				card_header.setAttribute("class", "card-header p-2 no-select");
				card_header.setAttribute("onclick", "show_ques("+i+")");
				card_header.setAttribute("style", "cursor: pointer;");
				var p = document.createElement("p");
				p.setAttribute("class", "p-1 m-0");
				var q_span = document.createElement("span");
				q_span.innerHTML = "<b>"+(i+1)+".</b> "+question_objects_array[i].question.title;
				p.appendChild(q_span);

				var check = document.createElement("span");
				check.setAttribute("id", "check_"+i);
				check.setAttribute("class", "float-right text-success");
				if(question_objects_array[i].status.opt_id==0){
					check.setAttribute("style", "font-size: 21px; opacity: 0");
				} else {
					check.setAttribute("style", "font-size: 21px; opacity: 1");
				}
				check.innerHTML="&check;";
				p.appendChild(check);


				check = document.createElement("span");
				check.setAttribute("id", "excl_"+i);
				check.setAttribute("class", "float-right text-danger");
				check.setAttribute("style", "font-size: 21px; opacity: 0");
				check.innerHTML="&excl;";



				card_header.appendChild(p);

				var extra_div = document.createElement("div");
				extra_div.setAttribute("class", "container-fluid text-light");
				var span = document.createElement("span");
				span.setAttribute("class", "badge bg-success p-1");
				span.innerHTML="+"+question_objects_array[i].question.positive_score;
				extra_div.appendChild(span);

				span = document.createElement("span");
				span.setAttribute("class", "badge bg-danger p-1");
				span.innerHTML="-"+question_objects_array[i].question.negative_score;
				extra_div.appendChild(span);
				card_header.appendChild(extra_div);
				card.appendChild(card_header);
				ques_list.appendChild(card);

			}


		}

		function show_next_ques(){
			var nxt = (curr_ques+1)%total_questions;
			show_ques(nxt);

		}

		function show_prev_ques(){
			var nxt = (curr_ques-1);
			if(nxt<0){
				nxt+=total_questions;
			}
			show_ques(nxt);

		}

		function show_ques(ind){
			var qq = question_objects_array[ind].question;
			var q_stat = question_objects_array[ind].status;
			var extra = question_objects_array[ind].extra;

			
			qsubmitbtn.disabled=true;

			q_statement.innerHTML = (ind+1)+". "+qq.statement;

			var options = qq.options;
			options_container.innerHTML="";
			for(var i=0;i<options.length;i++){
				var p = document.createElement("p");
				p.setAttribute("class", "no-select ml-1 pl-0 option");
				p.setAttribute("onclick", "select_option(this.children[0].children[0])");

				var label = document.createElement("label");
				label.setAttribute("class", "p-0 mr-1");

				var r_btn = document.createElement("input");
				r_btn.setAttribute("type", "radio");
				r_btn.setAttribute("name", "option");
				r_btn.setAttribute("value", options[i].id);
				r_btn.disabled=true;

				if(q_stat.opt_id==options[i].id){
					r_btn.checked=true;
				}


				if(extra.can_change_answer || q_stat.opt_id==0){
					r_btn.disabled=false;
					
				}

				label.appendChild(r_btn);

				var span = document.createElement("span");
				span.setAttribute("class", "radio-btn no-select");
				span.innerHTML="a";
				label.appendChild(span);
				p.appendChild(label);

				span = document.createElement("span");
				span.setAttribute("class","option-text");
				span.innerHTML = options[i].value;
				p.appendChild(span);

				options_container.appendChild(p);
			}

			curr_ques = ind;
			try{
				document.getElementById("close-arrow").click();

			}catch(err){

			}

		}

		function submit_answer(btn, loader){
			var ques = question_objects_array[curr_ques];
			var opt_id = ques.extra.temp_opt_id;

			if(opt_id>=0){

				var xhttp = new XMLHttpRequest();
				btn.disabled=true;
				loader.style.display="inline-block";
				xhttp.onreadystatechange = function(){
					if(this.readyState == 4 && this.status == 200){
						var resp = JSON.parse(this.responseText);
						if(resp.success){
							question_objects_array[resp.q_ind].status.opt_id=resp.opt_id;
							if(resp.opt_id>=0){
								document.getElementById("check_"+resp.q_ind).style.opacity="1";
							}

							if(resp.q_ind == curr_ques){
								if(question_objects_array[resp.q_ind].extra.can_change_answer){
									btn.disabled=false;
								} else {
									$("input[type=radio]").attr("disabled", true);
								}
								show_next_ques();
							}
							show_success_msg();
						} else {
							//alert("hello");
							show_top_popup(resp.error, true, 4000);
							btn.disabled=false;
						}
						loader.style.display="none";
					} else if(this.readyState == 4) {
						show_popup("Internal Server Error");
						btn.disabled=false;
						loader.style.display="none";
					}

				};

				var token = document.getElementsByName("csrfmiddlewaretoken")[0].value;

				
				var q_id = ques.question.id;
				
				var time_elapsed = ques.status.time_elapsed;

				q="csrfmiddlewaretoken="+token+"&q_id="+q_id+"&opt_id="+opt_id+"&time_elapsed="+time_elapsed+"&q_ind="+curr_ques;

				xhttp.open("POST", "{% url 'submitanswer' code=trivia.code %}", true);
				xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhttp.send(q);

			}
		}

		function show_success_msg(){
			success_msg.style.opacity="1";

			setTimeout(function(){
				success_msg.style.opacity="0";
			},
			700)
		};


		function end_test(){
			var end_loader = document.getElementById("endtestloader");
			var confirm_control = document.getElementById("confirm-control");
			var confirm_message = document.getElementById("confirm-message");

			end_loader.style.display = "inline-block";
			confirm_control.style.display = "none";
			confirm_message.innerHTML = "Submitting...";


			if(true){

				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function(){
					if(this.readyState == 4 && this.status == 200){
						var resp = JSON.parse(this.responseText);
						if(resp.success){
							end_loader.style.display = "none";
							confirm_message.innerHTML = "<span class='text-success'>Submission Successful</span>";
							setTimeout(function(){
								window.location.reload();
							}, 2000);
						} else {
							show_top_popup(resp.error, true, 4000);
							end_loader.style.display = "none";
						}

					} else if(this.readyState == 4) {
						show_popup("Internal Server Error");
						end_loader.style.display = "none";
						confirm_message.innerHTML = "Are you sure to end this test?";
						confirm_control.style.display = "block";
						
					}

				};

				var token = document.getElementsByName("csrfmiddlewaretoken")[0].value;

				q="csrfmiddlewaretoken="+token;

				xhttp.open("POST", "{% url 'endtest' code=trivia.code %}", true);
				xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				xhttp.send(q);

			}


		}


		function update_timer(){

		}


	</script>


	<div id="main" class="">
		{% csrf_token %}

		<div id="quesnav" class="sidenav text-left">
			<span class="text-success close-arrow" style="" onclick="closeNav()" id="close-arrow">&#10230;</span>


			<!-- Question List -->
			<div class="container-fluid mt-2" id="ques_list">
				<span class="loader ml-2" id="qsubmitloader" style="display: inline-block;"></span>
			</div>

		</div>

		<div class="container-fluid text-right p-0" id="question-extra-top">
			
			<span class="text-success close-arrow no-select" style="" onclick="openNav()">&#10229; <span style="font-size: 12px;">all questions</span></span>
		</div>



		<div class="playarea p-1" id="time_left_container">
			<div class="row">
				<div class="col-md-8 text-left">
					<span class="text-info no-select icon-clock font-weight-bold"><span id="contest_time_left" class="ml-2 font-weight-bold" style="font-size: 12px;"></span></span>
				</div>
				<div class="col-md-4 text-left">
					<button class="btn btn-info btn-sm mx-1" onclick="show_prev_ques()">Previous</button>
					<button class="btn btn-info btn-sm mx-1" onclick="show_next_ques()">Next</button>
					<button class="btn btn-sm btn-danger mx-1" onclick="confirm_end_test('Are you sure to end this test?');">End Test</button>
				</div>
			</div>
		</div>

		<div class="text-left playarea" id="playarea" style="">
			<div class="container-fluid m-0 p-2">
				<div class="card">
					<div class="card-body p-1">
						<p class="no-select" id="q_statement" style="font-size: 16px;"><span class="loader ml-2" id="qsubmitloader" style="display: inline-block;"></span></p>
						
					</div>
				</div>
			</div>

			<div class="container-fluid px-2 py-1" id="options_container">
				<span class="loader ml-2" id="qsubmitloader" style="display: inline-block;"></span>
			</div>

			<div class="container-fluid" id="q_control_panel">
				<button class="btn btn-success btn-sm" onclick="submit_answer(this, this.nextSibling)" id="qsubmitbtn">Submit & Next</button><span class="loader ml-2" id="qsubmitloader"></span><span id="success_msg" class="text-success ml-1 font-weight-bold"> saved</span>
			</div>

			<style type="text/css">
				#success_msg{
					opacity: 0;
					transition: 0.3s;
				}
			</style>


		</div>
		
	</div>

	<div id="confirm-overlay" class="row h-100 justify-content-center align-items-center no-select" onclick="//this.style.display='none'">
		<center>
		<div id="confirm-box" class="card p-0">

			<div class="card-body bg-light text-dark m-0 p-1">
				<div class="px-2">
					<span id="confirm-message" style="font-weight: bold; font-size: 13px;" class="p-2"></span>
					<span class="loader ml-2" id="endtestloader"></span>
				</div>
				<div class="text-right px-3" id="confirm-control">
					<button class="btn btn-sm text-danger font-weight-bold" onclick="document.getElementById('confirm-overlay').style.display='none';">Go Back</button>
					<button class="btn btn-sm text-info font-weight-bold" onclick="end_test();">Confirm</button>
				</div>
			</div>

		</div>
		</center>
	</div>

	<script type="text/javascript">
		

		function confirm_end_test(message){
			document.getElementById("confirm-message").innerHTML = message;
			document.getElementById("confirm-overlay").style.display = "block";
		}

	</script>


	<style type="text/css">

		#confirm-overlay{
			position: fixed;
		    display: none;
		    width: 100%;
		    height: 100%;
		    margin: 0 auto;
		    
		    top: 0;
		    justify-content: center;
		    background-color: rgba(255,255,255,0.2);
		    z-index: 9999999;
		    transition: 0.3s all;
		    opacity: 1;
		}

		#confirm-box{
			position: relative;
			width: 100%;
			max-width: 400px;
		    transition: 0.3s;
		    top: 200px;
		    background: rgba(0,0,0,0);

		}

		#confirm-control button{
			background-color: rgba(0,0,0,0);
		}

	</style>



	{% else %}

		{% if not feedback %}

		<script type="text/javascript">

			$(document).ready(function(){
				stars = 3;
				submitted_rating=false;
				star_color = ["#ef2828", "#c6690c", "#c6b00c", "#166de0", "#23c60d"];

			});
			
			function give_stars(btn){

				btn.disabled=true;
				submitted_rating=true;
				btn.innerHTML="<span class='loader ml-2' style='display:inline-block'>";

				var xhttp = new XMLHttpRequest;
				xhttp.onreadystatechange=function(){
					if(this.readyState==4 && this.status==200){
						var resp = JSON.parse(this.responseText);
						
						if(resp.success){
							$("#stars_container").html("<span class='text-success'>Thanks for feedback</span><br><a href='{% url 'afteranswer' code=trivia.code %}'>Solutions' Link</a>");

						}else{
							btn.disabled=false;
							btn.innerHTML="Submit";
							submitted_rating=false;
							show_popup(resp.error);
						}

					} else if(this.readyState==4){
						show_popup("Internal Server error");
						btn.disabled=false;
						btn.innerHTML="Submit";
						submitted_rating=false;

					}
				};

				var q = "stars="+stars;

				xhttp.open("GET", "{% url 'triviastars' code=trivia.code %}?"+q, true);
				xhttp.send();

			}

			function set_star(star){
				if(!submitted_rating){
					stars = star;
				}
			}

			function show_star(star){
				
				for(var i=1; i<=star; i++){
					$("#star"+i).addClass("rated");
				}

				for(var i=star+1; i<=5; i++){
					$("#star"+i).removeClass("rated");
				}

				$(".star").css("color", star_color[star-1]);

			}

			function reset(){
				for(var i=1; i<=stars; i++){
					$("#star"+i).addClass("rated");
				}

				for(var i=stars+1; i<=5; i++){
					$("#star"+i).removeClass("rated");
				}

				$(".star").css("color", star_color[stars-1]);
			}

		</script>

		<style type="text/css">

			.star{
				font-size: 30px;
				color: #c6b00c;
				cursor: pointer;
			}
			
			.star:after{
				content: '\2606';
				
			}

			.rated:after{
				content: '\2605';
			}

		</style>

		<div class="container mt-5 p-5 bg-light" style="max-width: 400px;">

			<p class="text-dark" style="font-size: 16px;">How do you feel about '{{ trivia.name }}'?</p>

			<span id="stars_container">
				<span class="star rated" onclick="set_star(1)" onmouseover="show_star(1)" onmouseleave="reset()" title="1 star" id="star1"></span>
				<span class="star rated" onclick="set_star(2)" onmouseover="show_star(2)" onmouseleave="reset()" title="2 stars" id="star2"></span>
				<span class="star rated" onclick="set_star(3)" onmouseover="show_star(3)" onmouseleave="reset()" title="3 stars" id="star3"></span>
				<span class="star" onclick="set_star(4)" onmouseover="show_star(4)" onmouseleave="reset()" title="4 stars" id="star4"></span>
				<span class="star" onclick="set_star(5)" onmouseover="show_star(5)" onmouseleave="reset()" title="5 stars" id="star5"></span>
				
				<p class="text-secondary">Your feedback will help us improving.</p>
				<div class="text-right">
					<button class="btn btn-sm btn-success mr-5" onclick="give_stars(this);">Submit</button>
				</div>
			</span>
			<br><br>

		</div>


		{% else %}

			<div class="container py-4 text-secondary">
				<p>Trivia is ended for you</p>
				Go to <a href="{% url 'afteranswer' code=trivia.code %}">answers</a> page.
			</div>

		{% endif %}
	


	{% endif %}

{% else %}
	<div class=" alert alert-info">

	{% if ended %}


		Contest ended. 

		<div class="container py-4 text-secondary">
			Go to <a href="{% url 'afteranswer' code=trivia.code %}">answers</a> page.
		</div>
		
	{% elif trivia not in request.user.userdetails.trivias.all %}
		You are not registered for this event
	<br>
	<a href="{% url 'triviadetails' code=trivia.code %}" class="btn btn-outline-info">Go To Contest Page</a>

	{% elif started_by_user %}
		You are in contest
		<br>
		<a href="" class="btn btn-outline-info">See Questions</a>

	{% elif not can_begin %}
		Contest is not started yet

	{% endif %}


	</div>

{% endif %}





{% endif %}


{% endspaceless %}
{% endblock %}