{% extends 'trivia/basetrivia.html' %}
{% load tz %}

{% block title %}
	
	Future Trivia

{% endblock %}


{% block content %}
	
<div class="container">
	<div class="row">

		<!-- Contest List-->

		<div class="col-md-8 text-left mt-3">

			<div class="container-fluid text-secondary m-0 py-3">
				<h4>Contests</h4><hr>
			</div>

			<!-- Contest Block-->

			<div class="container-fluid pt-3">
				<div class="container-fluid">
					<div class="text-success font-weight-bold" style="font-size: 18px;">Active Contests<hr></div>
					

					{% for trivia in trivias.present %}

					<div class="card my-3 border-success">
						<div class="card-header" onclick="window.location.assign('{% url 'triviadetails' code=trivia.code %}')" style="cursor: pointer;">

							<ul class="nav">
								<li class="nav-item pr-3 mr-auto">
									<a class="text-secondary font-weight-bold" style="text-decoration: none; font-size: 15px" href="{% url 'triviadetails' code=trivia.code %}">{{ trivia.name }}</a>
								</li>

								<li class="nav-item pr-3"  style="font-size: 10px;">
									<span class="text-dark icon-clock"></span> &nbsp;<span class="text-secondary">{% timezone 'Asia/Kolkata' %}{{ trivia.start_time }} IST {% endtimezone %}</span>
								</li>

							</ul>
						</div>

					</div>

					{% empty %}
						<p>No Active Contests</p>

					{% endfor %}

					
				</div>
			</div>

			<div class="container-fluid pt-3">
				<div class="container-fluid">
					<div class="text-success font-weight-bold" style="font-size: 18px;">Upcoming Contests<hr></div>
					

					{% for trivia in trivias.future %}

					<div class="card my-3 border-success">
						<div class="card-header" onclick="window.location.assign('{% url 'triviadetails' code=trivia.code %}')" style="cursor: pointer;">

							<ul class="nav">
								<li class="nav-item pr-3 mr-auto">
									<a class="text-secondary font-weight-bold" style="text-decoration: none; font-size: 15px" href="{% url 'triviadetails' code=trivia.code %}">{{ trivia.name }}</a>
								</li>

								<li class="nav-item pr-3"  style="font-size: 10px;">
									<span class="text-dark icon-clock"></span> &nbsp;<span class="text-secondary">{% timezone 'Asia/Kolkata' %}{{ trivia.start_time }} IST {% endtimezone %}</span>
								</li>

							</ul>
						</div>

					</div>

					{% empty %}
						<p>No Upcoming Contests</p>

					{% endfor %}

					
				</div>
			</div>

			<div class="container-fluid pt-3">
				<div class="container-fluid">
					<div class="text-success font-weight-bold" style="font-size: 18px;">Past Contests<hr></div>
					

					{% for trivia in trivias.past %}

					<div class="card my-3 border-success">
						<div class="card-header" onclick="window.location.assign('{% url 'triviadetails' code=trivia.code %}')" style="cursor: pointer;">

							<ul class="nav">
								<li class="nav-item pr-3 mr-auto">
									<a class="text-secondary font-weight-bold" style="text-decoration: none; font-size: 15px" href="{% url 'triviadetails' code=trivia.code %}">{{ trivia.name }}</a>
								</li>

								<li class="nav-item pr-3"  style="font-size: 10px;">
									<span class="text-dark icon-clock"></span> &nbsp;<span class="text-secondary">{% timezone 'Asia/Kolkata' %}{{ trivia.start_time }} IST {% endtimezone %}</span>
								</li>

							</ul>
						</div>

					</div>

					{% empty %}
						<p>No Contest in Past</p>
					{% endfor %}

					
				</div>
			</div>

		</div>

		<!--contest given-->

		<div class="col-md-4 text-left">
			{% if request.user.is_authenticated %}
			<div class="container text-dark font-weight-bold my-3">
				Participated Contests
			</div>

			<div class="container">
				{% for trivia in request.user.userdetails.trivias.all %}
					<a class="text-secondary" href="{% url 'triviadetails' code=trivia.code %}" style="text-decoration: none">{{ trivia.name }}</a><br>
				{% endfor %}
			</div>

			{% endif %}
			
		</div>
	</div>
</div>


{% endblock %}