{% extends 'about/baseabout.html' %}
{% spaceless %}


{% block title %}

	Learn, Practice and Compete | Host your Quiz | Host Online Tests | FutureTrivia

{% endblock %}

{% block content %}

<div class="container mt-4">
	<p class="text-dark py-4" style="font-size: 30px; font-weight: bold;">FutureTrivia's Code of Conduct</p>
	<div class="container-fluid text-left text-secondary">
		<p class="text-dark">This code of conduct govern your use of FutureTrivia and the features, services. Nothing stringent to worry about. These are just simple and small practices that all of you have been following, or if not, shall be following from now on.</p>

		<ol type="1" style="font-size: 14px">
			<li class="py-2">You shall not possess more than one account on CodeChef. If you have, then do let us know beforehand, so that we can deactivate the ones that you do not wish to use.</li>

			<li class="py-2">If you are taking part in FutureTrivia’s contests, you must take good care of your solutions. Protect it from getting leaked, getting shared, and getting copied by your foes, friends, or just a random peer. It is your responsibility to provide it the safety it deserves.</li>

			<li class="py-2">Do not ask or discuss any aspect of any FutureTrivia's question during an ongoing contest on any other platform, online or offline. Discussion of strategy should be avoided during the contest and postponed till the end.</li>

			<li class="py-2">Stay honest to the community. If you come across any wrongdoing, which hampers the decorum of the community on or off it, do report that to us. We will investigate the issue and take appropriate action to stop it.</li>

			<li class="py-2">Do not try any dishonest means to move up the rank tables.</li>
		</ol>
	</div>

</div>

{% endblock %}
{% endspaceless %}